/* src/styles/topbar.css */
.topbar {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light mode mặc định */
.topbar {
    background-color: #ffffff;
    color: #0f172a;
    border-bottom: 1px solid #e2e8f0;
}

/* Dark mode */
.dark .topbar {
    background-color: #2F3136; /* slate-800 */
    color: #f1f5f9; /* slate-100 */
    border-bottom-color: #334155;
}

.dark .topbar button,
.dark .topbar img,
.dark .topbar span {
    color: #e2e8f0;
}

.dark .topbar .border-l-2 {
    border-color: #475569;
}

.dark .dropdown-menu-content {
    background-color: #1e293b;
    color: #f1f5f9;
}

.dark .dropdown-menu-item:hover {
    background-color: #334155;
}

.workspace-btn {
    background-color: #e7e5e4; /* stone-200 */
    border: 1px solid #cbd5e1; /* slate-300 */
    color: #0f172a; /* slate-900 */
    transition: all 0.2s ease;
}

.workspace-btn:hover {
    background-color: #f8fafc; /* slate-50 */
}

.dark .workspace-btn {
    background-color: #53555B;
    border-color: #475569; /* slate-600 */
    color: #f1f5f9; /* slate-100 */
}

.dark .workspace-btn:hover {
    background-color: #475569; /* slate-600 */
}

.active-workspace {
    position: relative;
    background-color: #f8fafc; /* slate-50 */
    border-radius: 0.5rem; /* rounded-lg */
    font-weight: 600;
    transition: background-color 0.2s ease;
    overflow: hidden;
    padding-left: 12px; /* chừa không gian cho thanh vàng */
}

/* Tạo thanh vàng bên trái */
.active-workspace::before {
    content: "";
    position: absolute;
    left: 1%;
    top: 8%;
    bottom: 8%;
    width: 8px;
    background-color: #FBEB6B; /* yellow-300 */
    border-radius: 6px;
}

.active-workspace:hover {
    background-color: #e2e8f0; /* slate-200 */
}

.dark .active-workspace {
    background-color: #475569;
    font-weight: 600;
}

.dark .active-workspace::before {
    background-color: #5865F2; /* yellow-400 */
}

.dark .active-workspace:hover {
    background-color: #64748b; /* slate-500 */
}
