.project-page {
    background-color: var(--card);
    color: var(--foreground);
}

.project-page .custom-btn {
    background-color: var(--card-border);
    color: var(--button-text);
    border: 1px solid var(--input-border);
    transition: background-color 0.2s ease;
}

.project-page .custom-btn:hover {
    background-color: var(--input-bg);
}

/* Thẻ chính */
.project-page-content main {
    background-color: var(--card);
    border-color: var(--card-border);
}

/* Input, Search box */
.project-page-content input,
.project-page-content textarea {
    background-color: var(--card);
    color: var(--input-text);
}

.project-page-content input::placeholder,
.project-page-content textarea::placeholder {
    color: var(--input-placeholder);
}

/* Button */
.project-page-content button {
    background-color: var(--button-bg);
    color: var(--button-text);
}

.project-page-content button:hover {
    background-color: var(--button-bg-hover);
}

.project-page-content .custom-border {
    border-color: var(--card-border);
}

/*.project-page .custom-btn-outline {*/
/*    background-color: transparent !important;*/
/*    color: var(--button-text) !important;*/
/*    border: 1px solid var(--button-bg);*/
/*}*/

/*.project-page .custom-btn-outline:hover {*/
/*    background-color: var(--button-bg-hover) !important;*/
/*    color: var(--button-text) !important;*/
/*}*/

/* Footer */
.project-page-content footer {
    background-color: var(--card);
    color: var(--foreground);
    border-top: 1px solid var(--border);
}

/* Bảng */
.project-page-content table {
    background-color: var(--card);
    color: var(--foreground);
}

.project-page-content th,
.project-page-content td {
    border-color: var(--card-border);
}

/* Scrollbar */
.project-page-content ::-webkit-scrollbar {
    width: 8px;
}

.project-page-content ::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

.project-page-content ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}

.project-page-content ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

.project-sheet-content {
    background-color: var(--card);
}

.project-sheet-content .custom-card {
    background-color: var(--background);
    border-color: var(--card-border);
}

/* Wrapper */
.endpoint-badge {
    display: flex;
    align-items: center;
    border-radius: 999px;
    overflow: hidden;
    font-size: 12px;
    font-weight: 400;
    min-width: 90px;
    position: relative;

    background: linear-gradient(
            135deg,
            #36393F 0%,
            #36393F 50%,
            #202225 50.1%,
            #202225 100%
    );
}

/* Items */
.endpoint-left,
.endpoint-right {
    flex: 1;
    padding: 1px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: transparent !important;
}

/* Icon */
.endpoint-item .icon {
    width: 14px;
    height: 14px;
    opacity: 0.9;
}