/* LIGHT MODE */
.auth-page {
    background-color: #F1F5F9; /* bg-slate-50 */
    color: #2F3136; /* text-slate-900 */
}

.auth-card {
    background-color: #ffffff;
    border: 1px solid #f1f5f9;
    color: #2F3136;
}

.auth-input {
    background-color: #ffffff;
    color: #2F3136;
    border: 1px solid #cbd5e1;
}

.auth-button {
    background-color: #FBEB6B; /* yellow-300 */
    color: #1e1b4b; /* indigo-950 */
}

.auth-button:hover {
    background-color: #fde047; /* yellow-400 */
}

/* 🌙 DARK MODE */
.dark .auth-page {
    background-color: #2F3136; /* slate-950 */
    color: #f8fafc;
}

.dark .auth-card {
    background-color: #36393F; /* slate-800 */
    border-color: #42454A;
    color: #f8fafc;
}

.dark .auth-input {
    background-color: #334155; /* slate-700 */
    color: #f8fafc;
    border-color: #475569;
}

.dark .auth-input::placeholder {
    color: #cbd5e1;
}

.dark .auth-button {
    background-color: #5865f2;
    color: #fefce8; /* vàng nhạt */
}

.dark .auth-button:hover {
    background-color: #4752c4;
}

.dark .auth-link {
    color: #fefce8;
}
